*{
    box-sizing: border-box;
}

body{
    background-color: #191e13;
    margin: 0px;
}
h1{
    color:#a8fbc4 ;
    margin: 0px;
}


/*agrupamiento*/
#verde, #naranja, #celeste{
    width: 250px;
    height: 100px;
}

#verde{
    background-color: #a8fbc4;
    margin: 50px;
}
#naranja{
    background-color: #ffb58b;
}
#celeste{
    background-color: #8bffd8;
    margin: 50px 100px;
}